.divError{
    position: relative;
    bottom: 36px;
    left: 86px;
}
.paragraphError{
    color:var(--Light-Red-error);
}
.paragraphSuccess{
    color:var(--Green-Success);
}
@media(max-width:1025px){
    .divError{
        bottom:75px;
        left:22px;
        display:inline-block;
    }
}